<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- page title -->
      <title>BreedPaws!</title>
      <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
      <![endif]-->
      <!-- Font files -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
      <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
      <link href="fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
      <!-- Fav icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
      <!-- Bootstrap core CSS -->
      <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- style CSS -->
      <link href="/static/css/style.css" rel="stylesheet">
      <!-- plugins CSS -->
      <link href="/static/css/plugins.css" rel="stylesheet">
      <!-- Colors CSS -->
      <link href="/static/styles/maincolors.css" rel="stylesheet">
      <!-- LayerSlider CSS -->
      <link rel="stylesheet" href="/static/vendor/layerslider/css/layerslider.css">
   </head>
   <!-- ==== body starts ==== -->
   <body id="top">
      <!-- Preloader-->
      <div id="preloader">
         <div class="spinner">
            <div class="bounce1"></div>
         </div>
      </div>
      <!-- /Preloader ends -->
      <nav id="main-nav" class="navbar-expand-xl">
         <!-- Start Top Bar -->
         <div class="container-fluid top-bar">
            <div class="container">
               <div class="row">
                  <!-- /col -->
               </div>
               <!-- /row -->
            </div>
            <!-- /container -->
         </div>
         <!-- End Top bar -->
         <!-- Navbar Starts -->
         <div class="navbar container-fluid">
            <div class="container">
               <!-- logo -->
               <a class="navbar-brand" href="index.html">
               <i class="flaticon-dog-training-3"></i><span>BreedPaws!</span>
               </a>
               <!-- Navbartoggler -->
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggle-icon">
               <i class="fas fa-bars"></i>
               </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto">
                     <!-- menu item -->
                     <li class="nav-item">
                        <a class="nav-link" href="/">Home
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item">
                        <a class="nav-link" href="services.html">Services
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item">
                        <a class="nav-link" href="about.html">About
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item">
                        <a class="nav-link active" href="gallery.html">Gallery
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="others-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Other pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="others-dropdown">
                           <a class="dropdown-item" href="team.html">Our Team</a>
                           <a class="dropdown-item" href="elements.html">Elements Page</a>
                           <a class="dropdown-item" href="404.html">404 Page</a>
                        </div>
                     </li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--collapse -->
            </div>
            <!-- /container -->
         </div>
         <!-- /navbar -->
      </nav>
      <!-- /nav --><!-- Jumbotron -->
      <div class="jumbotron jumbotron-fluid overlay">
         <div class="jumbo-heading">
            <!-- section-heading -->
            <div class="section-heading" data-aos="zoom-in">
               <h1>Gallery Style 2</h1>
            </div>
            <!-- /section-heading -->
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Gallery Style 2</li>
               </ol>
            </nav>
         </div>
         <!-- /jumbo-heading -->
      </div>
      <!-- /jumbotron -->
      <!-- ==== Page Content ==== -->
      <div class="page">
         <!-- owl carousel with fade effect  -->
         <div id="owl-gallery" class="owl-carousel owl-theme top-centered-nav fade-effect mt-5">
            <div class="col-md-12 gallery-img rotate-img">
               <!-- image -->
               <a href="/static/img/gallery/gallery1.jpg" title="your caption here">
               <img src="/static/img/gallery/gallery1.jpg" class="border-double img-fluid border-irregular1" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img rotate-img">
               <a href="/static/img/gallery/gallery2.jpg" title="your caption here">
               <img src="/static/img/gallery/gallery2.jpg" class="border-double img-fluid border-irregular2" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img rotate-img">
               <a href="/static/img/gallery/gallery3.jpg" title="your caption here">
               <img src="/static/img/gallery/gallery3.jpg" class="border-double  img-fluid border-irregular1" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img rotate-img">
               <a href="/static/img/gallery/gallery4.jpg" title="your caption here">
               <img src="/static/img/gallery/gallery4.jpg" class="border-double  img-fluid border-irregular2" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img rotate-img">
               <a href="/static/img/gallery/gallery5.jpg" title="your caption here">
               <img src="/static/img/gallery/gallery5.jpg" class="border-double  img-fluid border-irregular1" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img rotate-img">
               <a href="/static/img/gallery/gallery6.jpg" title="your caption here">
               <img src="/static/img/gallery/gallery6.jpg" class="border-double  img-fluid border-irregular2" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
         </div>
         <!-- /owl-carousel -->	
      </div>
      <!-- /page -->
      <!-- ==== footer ==== -->
      <footer class="text-light">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <a class="navbar-brand" href="/"><i class="flaticon-dog-training-3"></i><span>BreedPaws!</span></a>
                  <p class="mt-3">Cras enim wisi elit aenean, amet eros curabitur. Wisi ad eget ipsum<br>  metus sociisc ras enim wisi elit aenean.</p>
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h6><i class="fas fa-envelope margin-icon"></i>Contact Us</h6>
                  <ul class="list-unstyled">
                     <li>+62 821-1481-8279 | +62 812-6422-3195 | +62 851-5899-5655 |</li>
                     <li><a href="mailto:breedpaws@apps.ipb.ac.id">breedpaws@apps.ipb.ac.id</a></li>
                     <li>Jl. Kumbang No.14, RT.02/RW.06, Babakan, Kecamatan Bogor Tengah, Kota Bogor, Jawa Barat 16128 </li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h6><i class="far fa-clock margin-icon"></i>Working Hours</h6>
                  <ul class="list-unstyled">
                     <li>Open 7am - 7pm</li>
                     <li>Holidays - Closed</li>
                     <li>Weekends - Closed</li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
            </div>
            <!--/ row-->
            <div class="row">
               <div class="credits col-sm-12">
                  <p>Designed by <a href="/">Fatih | Yordi | Najla</a></p>
               </div>
            </div>
            <!--/ row -->
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="d-none d-md-block">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>
      <!--/ footer-->
      <!-- Bootstrap core & Jquery -->
      <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <!-- Custom Js -->
      <script src="/static/js/custom.js"></script>
      <script src="/static/js/plugins.js"></script>
      <!-- Prefix free -->
      <script src="/static/js/prefixfree.min.js"></script>
   </body>
</html>